node-red/.flows.json.backup
[{"id":"7aeb21a7.7a689","type":"tab","label":"Scheduled Daily Events","disabled":true,"info":""},{"id":"a3e7bc0d.30231","type":"tab","label":"Home Occupied","disabled":true,"info":""},{"id":"ed8786fc.5e8f78","type":"tab","label":"Office","disabled":true,"info":""},{"id":"1f9a0605.2f311a","type":"tab","label":"Bonus Room","disabled":false,"info":""},{"id":"8fb00764.4ebf88","type":"tab","label":"Crawlspace","disabled":false,"info":""},{"id":"8c1f35a3.fc24b8","type":"tab","label":"Kitchen","disabled":false,"info":""},{"id":"86485bae.d10e68","type":"tab","label":"zoneminder","disabled":false,"info":""},{"id":"11cc2180.fd8b8e","type":"tab","label":"Mudroom","disabled":false,"info":""},{"id":"476add23.05e764","type":"tab","label":"Attic","disabled":false,"info":""},{"id":"cf463dc0.0b4a9","type":"tab","label":"weather station","disabled":true,"info":"","env":[]},{"id":"abdffb17.995698","type":"tab","label":"amzn echo hub","disabled":false,"info":""},{"id":"1197efc9.f8204","type":"tab","label":"Alexa Speak","disabled":true,"info":"","env":[]},{"id":"93758d1b21ae2148","type":"tab","label":"Alexa Controlled Devices","disabled":true,"info":"","env":[]},{"id":"66f5d91adfcf8c9e","type":"tab","label":"Disabled Alexa Entities","disabled":true,"info":"","env":[]},{"id":"b7b9a70.d856858","type":"subflow","name":"tts_announce_all","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"f5a33f6.22856c"},{"id":"e4a1ee87.88493"}]}],"out":[{"x":440,"y":80,"wires":[{"id":"f5a33f6.22856c","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"c61a9ebd.f52d8","type":"server","name":"Home Assistant","version":2,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"7a36d543.01caac","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"221e3221.46076e","type":"ui_group","name":"Alexa Speak","tab":"c55085ed.ed3308","order":1,"disp":true,"width":"6","collapse":false},{"id":"c55085ed.ed3308","type":"ui_tab","name":"Alexa Speak","icon":"speaker","order":2},{"id":"ff96d826.308c98","type":"alexa-remote-account","name":"","authMethod":"proxy","proxyOwnIp":"192.168.1.184","proxyPort":"3456","cookieFile":"amzAuthFile","refreshInterval":"3","alexaServiceHost":"pitangui.amazon.com","amazonPage":"amazon.com","acceptLanguage":"en-US","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"3337ea4c.435596","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f5a33f6.22856c","type":"api-call-service","z":"b7b9a70.d856858","name":"announce","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"python_script","service":"tts_announce_local","entityId":"all_echos","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":290,"y":60,"wires":[[]]},{"id":"e4a1ee87.88493","type":"debug","z":"b7b9a70.d856858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":220,"y":160,"wires":[]},{"id":"a93a169a.1cb928","type":"sun events","z":"7aeb21a7.7a689","testmode":false,"verbose":true,"topic":"","name":"","x":160,"y":440,"wires":[[]]},{"id":"eb1a7f3c.c5b8a","type":"switch","z":"7aeb21a7.7a689","name":"Check for getting dark outside","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunset","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":440,"wires":[["14d4fc7e.114304"]]},{"id":"fc1c1db8.4ec75","type":"api-call-service","z":"7aeb21a7.7a689","name":"Turn On Landscape Lights","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.landscape_lights","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":540,"y":260,"wires":[[]]},{"id":"e36872cc.6bc88","type":"inject","z":"7aeb21a7.7a689","name":"Every Day 10:30 pm","repeat":"","crontab":"30 22 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":160,"wires":[["37b22d87.b887d2","8ead81c4.83dda"]]},{"id":"37b22d87.b887d2","type":"api-call-service","z":"7aeb21a7.7a689","name":"Turn Off Landscape Lights","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.landscape_lights","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":140,"wires":[[]]},{"id":"14d4fc7e.114304","type":"api-call-service","z":"7aeb21a7.7a689","name":"Set Its Dark Outside","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.dark_outside","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":860,"y":500,"wires":[[]]},{"id":"38d262a9.6f4cde","type":"switch","z":"7aeb21a7.7a689","name":"Check for getting light outside","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunrise","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":520,"wires":[["63da9669.88f258"]]},{"id":"63da9669.88f258","type":"api-call-service","z":"7aeb21a7.7a689","name":"Clear Its Dark Outside","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.dark_outside","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":860,"y":560,"wires":[[]]},{"id":"b8b60d9c.2fee7","type":"server-state-changed","z":"7aeb21a7.7a689","name":"sun startup state","server":"c61a9ebd.f52d8","version":3,"entityidfilter":"sun.sun","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"arbitrary","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":580,"wires":[[],[]]},{"id":"ff5f21f3.aab06","type":"api-current-state","z":"7aeb21a7.7a689","name":"check sun below horizon","server":"c61a9ebd.f52d8","version":2,"outputs":2,"halt_if":"below_horizon","halt_if_type":"str","halt_if_compare":"is","entity_id":"sun.sun","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":530,"y":600,"wires":[["14d4fc7e.114304"],["63da9669.88f258"]]},{"id":"b5780b92.028e58","type":"server-state-changed","z":"7aeb21a7.7a689","name":"Just turned dark outside","server":"c61a9ebd.f52d8","version":3,"entityidfilter":"input_boolean.dark_outside","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":280,"wires":[["fc1c1db8.4ec75","cc1197bb.d1c018"],[]]},{"id":"cc1197bb.d1c018","type":"api-call-service","z":"7aeb21a7.7a689","name":"Turn On Backyard Landscape Lights","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.backyard_lights","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":320,"wires":[[]]},{"id":"8ead81c4.83dda","type":"api-call-service","z":"7aeb21a7.7a689","name":"Turn Off Backyard Landscape Lights","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.backyard_lights","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":590,"y":200,"wires":[[]]},{"id":"eba652fb.c4e1f","type":"server-state-changed","z":"a3e7bc0d.30231","name":"Dennis Home","server":"c61a9ebd.f52d8","version":3,"entityidfilter":"input_boolean.dennishome","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":80,"wires":[["a48d9f44.c125c","950d329b.1615a","c649be86.47172"],["7a3ec747.079288"]]},{"id":"a48d9f44.c125c","type":"debug","z":"a3e7bc0d.30231","name":"dennis home","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":20,"wires":[]},{"id":"f384507.c75dab","type":"server-state-changed","z":"a3e7bc0d.30231","name":"Kay Home","server":"c61a9ebd.f52d8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.kayhome","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":280,"wires":[["950d329b.1615a","94625293.222ab","eb0924f4.8bf7a8"],["4390d377.f9974c"]]},{"id":"950d329b.1615a","type":"api-call-service","z":"a3e7bc0d.30231","name":"Home Occupied","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"home_occupied","data":"{\"entity_id\":\"input_boolean.home_occupied\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":200,"wires":[[]]},{"id":"303b17be.d95268","type":"server-state-changed","z":"a3e7bc0d.30231","name":"Dennis Home","server":"c61a9ebd.f52d8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.dennishome","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":660,"wires":[[],["bd9a55b1.0dd7e8"]]},{"id":"6159f979.c9d288","type":"server-state-changed","z":"a3e7bc0d.30231","name":"Kay Home","server":"c61a9ebd.f52d8","version":3,"entityidfilter":"input_boolean.kayhome","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":720,"wires":[[],["59b1ed2.d924e14"]]},{"id":"bd9a55b1.0dd7e8","type":"api-current-state","z":"a3e7bc0d.30231","name":"Check Kay Home","server":"c61a9ebd.f52d8","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.kayhome","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":370,"y":640,"wires":[["c2520b49.8d1298"],[]]},{"id":"c2520b49.8d1298","type":"api-call-service","z":"a3e7bc0d.30231","name":"Home Not Occupied","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"home_occupied","data":"{\"entity_id\":\"input_boolean.home_occupied\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":660,"wires":[[]]},{"id":"59b1ed2.d924e14","type":"api-current-state","z":"a3e7bc0d.30231","name":"Check Dennis Home","server":"c61a9ebd.f52d8","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.dennishome","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":360,"y":720,"wires":[["c2520b49.8d1298"],[]]},{"id":"94625293.222ab","type":"ha-wait-until","z":"a3e7bc0d.30231","name":"Wait for Garage-Kitchen Door to open","server":"c61a9ebd.f52d8","version":0,"outputs":2,"entityId":"binary_sensor.wyzesense_77874375","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":"3","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":550,"y":280,"wires":[["280ee75b.de4de8"],[]]},{"id":"243269dc.1f8ec6","type":"debug","z":"a3e7bc0d.30231","name":"Kay Arrived Flow","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1210,"y":140,"wires":[]},{"id":"667bd462.c397ec","type":"api-call-service","z":"a3e7bc0d.30231","name":"Welcome Kay Announcement","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"tts","service":"google_say","entityId":"media_player.master_bedroom_home","data":"{ \"message\": \"Welcome home Kay!\" }","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1120,"y":300,"wires":[[]]},{"id":"280ee75b.de4de8","type":"ha-wait-until","z":"a3e7bc0d.30231","name":"Wait for Garage-Kitchen Door to close","server":"c61a9ebd.f52d8","version":0,"outputs":2,"entityId":"binary_sensor.garage_kitchen_door","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":"120","timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":930,"y":200,"wires":[["243269dc.1f8ec6","ecd57184.598d1"],[]]},{"id":"ecd57184.598d1","type":"delay","z":"a3e7bc0d.30231","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":880,"y":300,"wires":[["667bd462.c397ec"]]},{"id":"c649be86.47172","type":"trigger-state","z":"a3e7bc0d.30231","name":"Dennis' Arrive State","server":"c61a9ebd.f52d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.dennishome","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"20r7tac3gj5","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"false"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","enableInput":true,"x":410,"y":80,"wires":[["4dbc1679.b94bd8","cbebb08b.52c88"],[]]},{"id":"eb0924f4.8bf7a8","type":"trigger-state","z":"a3e7bc0d.30231","name":"Kay's Arrive State","server":"c61a9ebd.f52d8","version":1,"entityid":"input_boolean.kayhome","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"20r7tac3gj5","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"false"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","enableInput":true,"x":340,"y":388,"wires":[["c36953f8.8e28b"],[]]},{"id":"bc917de7.dc0ce","type":"subflow:b7b9a70.d856858","z":"a3e7bc0d.30231","name":"","env":[],"x":930,"y":60,"wires":[[]]},{"id":"4dbc1679.b94bd8","type":"function","z":"a3e7bc0d.30231","name":"set text message","func":"var newMsg = { payload: { data: { message: \"Detecting Dennis has arrived\"}}}\nreturn newMsg;","outputs":1,"noerr":0,"x":650,"y":60,"wires":[[]]},{"id":"cbebb08b.52c88","type":"api-call-service","z":"a3e7bc0d.30231","name":"Text Dennis an alert","server":"7a36d543.01caac","version":3,"debugenabled":true,"service_domain":"notify","service":"dennis_hangout","entityId":"","data":"{\"message\":\"Dennis is arriving home\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":680,"y":120,"wires":[[]]},{"id":"c36953f8.8e28b","type":"api-call-service","z":"a3e7bc0d.30231","name":"Text Dennis an alert","server":"7a36d543.01caac","version":3,"debugenabled":true,"service_domain":"notify","service":"dennis_hangout","entityId":"","data":"{\"message\":\"Kay is arriving home\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":640,"y":400,"wires":[[]]},{"id":"7a3ec747.079288","type":"api-call-service","z":"a3e7bc0d.30231","name":"Text Dennis an alert","server":"7a36d543.01caac","version":3,"debugenabled":true,"service_domain":"notify","service":"dennis_hangout","entityId":"","data":"{\"message\":\"Dennis has left\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":237,"y":173,"wires":[[]]},{"id":"4390d377.f9974c","type":"api-call-service","z":"a3e7bc0d.30231","name":"Text Dennis an alert","server":"7a36d543.01caac","version":3,"debugenabled":true,"service_domain":"notify","service":"dennis_hangout","entityId":"","data":"{\"message\":\"Kay has left home\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":200,"y":480,"wires":[[]]},{"id":"60dbaad0.cff684","type":"server-state-changed","z":"ed8786fc.5e8f78","name":"office-light-state","server":"c61a9ebd.f52d8","version":3,"entityidfilter":"switch.office_light","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":240,"wires":[["fe491208.534bb"],["754904e9.779aac"]]},{"id":"fe491208.534bb","type":"api-call-service","z":"ed8786fc.5e8f78","name":"Office-Desk-Light-Off","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.office_desk_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":400,"y":200,"wires":[[]]},{"id":"754904e9.779aac","type":"api-call-service","z":"ed8786fc.5e8f78","name":"Office-Desk-Light-On","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.office_desk_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":382,"y":332,"wires":[[]]},{"id":"d40e460d.1a7ae8","type":"api-call-service","z":"ed8786fc.5e8f78","name":"Office-Light-On","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.office_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1140,"y":440,"wires":[[]]},{"id":"c3cf003c.20b25","type":"api-current-state","z":"ed8786fc.5e8f78","name":"Check for darkness","server":"c61a9ebd.f52d8","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.dark_outside","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":730,"y":560,"wires":[["474c6d9f.d1b054","bc5a54a7.8f2e68"],[]]},{"id":"9678de6f.d98af","type":"server-state-changed","z":"ed8786fc.5e8f78","name":"Motion detected in office","server":"c61a9ebd.f52d8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.office_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":144,"y":640,"wires":[["4cccb397.fbed3c"]]},{"id":"1ec9b7f3.a478a8","type":"switch","z":"ed8786fc.5e8f78","name":"Test motion detected vs cleared","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":640,"wires":[["b8b4a2f2.7642b","c3cf003c.20b25"],["284efb77.36dd74","c09536ad.1ced48"]]},{"id":"474c6d9f.d1b054","type":"api-current-state","z":"ed8786fc.5e8f78","name":"Stop if light is already on","server":"c61a9ebd.f52d8","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.office_light","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":890,"y":460,"wires":[["d40e460d.1a7ae8"],[]]},{"id":"c09536ad.1ced48","type":"debug","z":"ed8786fc.5e8f78","name":"test office motion","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":600,"wires":[]},{"id":"284efb77.36dd74","type":"stoptimer","z":"ed8786fc.5e8f78","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"No Motion Timer","x":860,"y":800,"wires":[["c658c922.5a1ce8"],[]]},{"id":"c658c922.5a1ce8","type":"api-call-service","z":"ed8786fc.5e8f78","name":"Office-Light-Off","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.office_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1140,"y":780,"wires":[[]]},{"id":"4cccb397.fbed3c","type":"debug","z":"ed8786fc.5e8f78","name":"office motion","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":760,"wires":[]},{"id":"bc5a54a7.8f2e68","type":"debug","z":"ed8786fc.5e8f78","name":"light on path","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1070,"y":540,"wires":[]},{"id":"b8b4a2f2.7642b","type":"change","z":"ed8786fc.5e8f78","name":"Stop Timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":680,"wires":[["284efb77.36dd74"]]},{"id":"398d6ffc.30198","type":"server-state-changed","z":"1f9a0605.2f311a","name":"Upstairs Bedrm Button Toggle","server":"c61a9ebd.f52d8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bonusrm_lights","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":240,"wires":[["6f0353df.e2b23c"],[]]},{"id":"6f0353df.e2b23c","type":"api-call-service","z":"1f9a0605.2f311a","name":"Toggle Upstairs Bedroom Lamp","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.sonoff_1000a3970d","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":650,"y":260,"wires":[[]]},{"id":"3221e452.fadc8c","type":"server-state-changed","z":"1f9a0605.2f311a","name":"upstairs door opened","server":"c61a9ebd.f52d8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.upstairs_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":320,"wires":[["26f6add2.f0c282"],["59ff5432.cd8fbc","45aeeca712c939c5"]]},{"id":"26f6add2.f0c282","type":"api-current-state","z":"1f9a0605.2f311a","name":"Check darkness","server":"c61a9ebd.f52d8","version":2,"outputs":2,"halt_if":"0.75","halt_if_type":"num","halt_if_compare":"lte","entity_id":"sensor.bonusrm_light_level","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":480,"y":320,"wires":[["2115c0bf.09238"],[]]},{"id":"2115c0bf.09238","type":"api-call-service","z":"1f9a0605.2f311a","name":"Turn on Bonus Room Lamp","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.lk_zbt_onoffplug_d0001_28bbd3fe_on_off","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":860,"y":320,"wires":[[]]},{"id":"2d274e26.88f872","type":"stoptimer","z":"1f9a0605.2f311a","duration":"45","units":"Second","payloadtype":"num","payloadval":"0","name":"Wait for person events","x":420,"y":800,"wires":[["c0d347df.d22a88","d495b8f6.56e6e8"],[]]},{"id":"cf186d28.71547","type":"change","z":"1f9a0605.2f311a","name":"Stop person event timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":920,"wires":[["2d274e26.88f872","afb3467c.cb73a8"]]},{"id":"f62035b7.55ee08","type":"server-state-changed","z":"1f9a0605.2f311a","name":"Motion in upstairs bedroom","server":"c61a9ebd.f52d8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bonusrm_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":920,"wires":[["9c4188bf.c37818","89abd7cd0b8f86dc"],["d3f6fc9dd3fffcd7"]]},{"id":"2a6eafe0.3f741","type":"server-state-changed","z":"1f9a0605.2f311a","name":"Motion in bonus room","server":"c61a9ebd.f52d8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bonus_room_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":1020,"wires":[["9c4188bf.c37818","59d4c89b82e21058"],["14766e3e15a8cd98"]]},{"id":"59ff5432.cd8fbc","type":"api-current-state","z":"1f9a0605.2f311a","name":"bonus room tv is on","server":"c61a9ebd.f52d8","version":2,"outputs":2,"halt_if":"\"on\"","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.sony_bravia_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":150,"y":780,"wires":[["355b2050.0100c"],["2d274e26.88f872"]]},{"id":"c0d347df.d22a88","type":"api-call-service","z":"1f9a0605.2f311a","name":"Person Not Upstairs","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.person_upstairs","data":"{\"entity_id\":\"input_boolean.person_upstairs\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":960,"y":800,"wires":[[]]},{"id":"355b2050.0100c","type":"api-call-service","z":"1f9a0605.2f311a","name":"Person Upstairs","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.person_upstairs","data":"{\"entity_id\":\"input_boolean.person_upstairs\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":940,"y":700,"wires":[[]]},{"id":"d495b8f6.56e6e8","type":"debug","z":"1f9a0605.2f311a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":920,"wires":[]},{"id":"afb3467c.cb73a8","type":"debug","z":"1f9a0605.2f311a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":1000,"wires":[]},{"id":"2e7f3b07.d773d4","type":"server-state-changed","z":"1f9a0605.2f311a","name":"Nobody is upstairs","server":"c61a9ebd.f52d8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.person_upstairs","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"10","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":80,"wires":[["3116e633.54f5fa","743ea889.db26e8","2a1dc602.5309ca","c8c7a58f8cadde1d"],[]]},{"id":"3116e633.54f5fa","type":"api-call-service","z":"1f9a0605.2f311a","name":"Turn off Bonus Room Lamp","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.lk_zbt_onoffplug_d0001_28bbd3fe_on_off","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":640,"y":20,"wires":[[]]},{"id":"743ea889.db26e8","type":"api-call-service","z":"1f9a0605.2f311a","name":"Turn off Ceiling Fan","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.bonus_rm_fan","data":"{ \"option\": \"off\" }","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":80,"wires":[[]]},{"id":"9c4188bf.c37818","type":"api-current-state","z":"1f9a0605.2f311a","name":"upstairs door closed","server":"c61a9ebd.f52d8","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.upstairs_door","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":500,"y":1040,"wires":[["cf186d28.71547","355b2050.0100c"],[]]},{"id":"68387d28.b2adf4","type":"server-state-changed","z":"1f9a0605.2f311a","name":"attic door opened","server":"c61a9ebd.f52d8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.attic_monitor_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":1180,"wires":[["9c4188bf.c37818"],[]]},{"id":"2a1dc602.5309ca","type":"api-call-service","z":"1f9a0605.2f311a","name":"Turn off ceiling fan light","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.sonoff_1000994ed7_1","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":630,"y":140,"wires":[[]]},{"id":"45aeeca712c939c5","type":"debug","z":"1f9a0605.2f311a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":660,"wires":[]},{"id":"59d4c89b82e21058","type":"debug","z":"1f9a0605.2f311a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":1140,"wires":[]},{"id":"89abd7cd0b8f86dc","type":"debug","z":"1f9a0605.2f311a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":880,"wires":[]},{"id":"14766e3e15a8cd98","type":"debug","z":"1f9a0605.2f311a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":1200,"wires":[]},{"id":"d3f6fc9dd3fffcd7","type":"debug","z":"1f9a0605.2f311a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":980,"wires":[]},{"id":"c8c7a58f8cadde1d","type":"api-call-service","z":"1f9a0605.2f311a","name":"Turn Off Upstairs Bedroom Lamp","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.sonoff_1000a3970d","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":660,"y":200,"wires":[[]]},{"id":"5d6b819e.5126c","type":"server-state-changed","z":"8fb00764.4ebf88","name":"Motion detected in crawlspace","server":"c61a9ebd.f52d8","version":3,"entityidfilter":"binary_sensor.crawlspace_motion","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":100,"wires":[["4d5ea73c.b0f1b8"]]},{"id":"4d5ea73c.b0f1b8","type":"switch","z":"8fb00764.4ebf88","name":"Test motion detected vs cleared","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":200,"wires":[["30ae1679.c69c6a","d2d17eb0.e03c6"],["3002378.e35a6c8"]]},{"id":"30ae1679.c69c6a","type":"api-current-state","z":"8fb00764.4ebf88","name":"Stop if light is already on","server":"c61a9ebd.f52d8","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.crawlspace_light","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":890,"y":120,"wires":[["31f5c97c.3c9646"],[]]},{"id":"31f5c97c.3c9646","type":"api-call-service","z":"8fb00764.4ebf88","name":"Crawlspace-Light-On","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.crawlspace_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1160,"y":120,"wires":[[]]},{"id":"d2d17eb0.e03c6","type":"change","z":"8fb00764.4ebf88","name":"Stop Timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":220,"wires":[["3002378.e35a6c8"]]},{"id":"3002378.e35a6c8","type":"stoptimer","z":"8fb00764.4ebf88","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"No Motion Timer","x":920,"y":300,"wires":[["4e61d140.13665"],[]]},{"id":"4e61d140.13665","type":"api-call-service","z":"8fb00764.4ebf88","name":"Crawlspace-Light-Off","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.crawlspace_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1160,"y":300,"wires":[[]]},{"id":"541b1af8.ac3d94","type":"server-state-changed","z":"8fb00764.4ebf88","name":"Crawlspace door opened","server":"c61a9ebd.f52d8","version":3,"entityidfilter":"binary_sensor.crawlspace_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":420,"wires":[["30ae1679.c69c6a","3002378.e35a6c8"],[]]},{"id":"4661d952.13e4c8","type":"server-state-changed","z":"8c1f35a3.fc24b8","name":"kitchen-garage door opened","server":"c61a9ebd.f52d8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.garage_kitchen_door","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":160,"wires":[["78d27fe2.15837"],[]]},{"id":"78d27fe2.15837","type":"api-current-state","z":"8c1f35a3.fc24b8","name":"Check darkness","server":"c61a9ebd.f52d8","version":2,"outputs":2,"halt_if":"0.75","halt_if_type":"num","halt_if_compare":"lte","entity_id":"sensor.bonusrm_light_level","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":420,"y":140,"wires":[["9290270.2c4e2d8"],[]]},{"id":"9290270.2c4e2d8","type":"api-call-service","z":"8c1f35a3.fc24b8","name":"Turn on Kitchen lights","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.kitchen_ceiling_lights","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":700,"y":120,"wires":[[]]},{"id":"ff63cf7f.0abed","type":"trigger-state","z":"86485bae.d10e68","name":"New Garage Camera Event","server":"c61a9ebd.f52d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.driveway_person_motion","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":230,"y":160,"wires":[["8a97fcf8.c64a4","2fb2fb7f.0abaf4"],[]]},{"id":"8a97fcf8.c64a4","type":"debug","z":"86485bae.d10e68","name":"zm event id","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":60,"wires":[]},{"id":"d0d72e67.5217","type":"api-call-service","z":"86485bae.d10e68","name":"Garage-Lights-On","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.garage_light, switch.garage_entrance_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":910,"y":80,"wires":[[]]},{"id":"2fb2fb7f.0abaf4","type":"api-current-state","z":"86485bae.d10e68","name":"Check for darkness","server":"c61a9ebd.f52d8","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.dark_outside","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":590,"y":100,"wires":[["d0d72e67.5217","84d17ef8.d6969"],[]]},{"id":"84d17ef8.d6969","type":"stoptimer","z":"86485bae.d10e68","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"10 min timer","x":570,"y":320,"wires":[["42798c60.447ff4"],[]]},{"id":"42798c60.447ff4","type":"api-call-service","z":"86485bae.d10e68","name":"Garage-Lights-Off","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.garage_light, switch.garage_entrance_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":300,"wires":[[]]},{"id":"33248c2f.206b04","type":"api-call-service","z":"11cc2180.fd8b8e","name":"Mudroom-Light-On","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.mudroom_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1150,"y":380,"wires":[[]]},{"id":"e2a5437a.1429","type":"server-state-changed","z":"11cc2180.fd8b8e","name":"Motion detected in mudroom","server":"c61a9ebd.f52d8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.mudroom_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":154,"y":580,"wires":[["4f005182.70a48","6a2e1ea3.bd021"]]},{"id":"4f005182.70a48","type":"switch","z":"11cc2180.fd8b8e","name":"Test motion detected vs cleared","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":580,"wires":[["808bfd83.1837a","f497262f.fe0588","2be9a21a.6d492e","8252fd18.2733b"],["76b6ad2d.48e734","147e3584.84649a"]]},{"id":"f497262f.fe0588","type":"api-current-state","z":"11cc2180.fd8b8e","name":"Stop if light is already on","server":"c61a9ebd.f52d8","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.mudroom_light","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":890,"y":400,"wires":[["33248c2f.206b04"],[]]},{"id":"147e3584.84649a","type":"debug","z":"11cc2180.fd8b8e","name":"test mudroom motion","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":920,"y":540,"wires":[]},{"id":"76b6ad2d.48e734","type":"stoptimer","z":"11cc2180.fd8b8e","duration":"3","units":"Minute","payloadtype":"num","payloadval":"0","name":"No Motion Timer","x":860,"y":740,"wires":[["4d0b3660.3a33d8"],[]]},{"id":"4d0b3660.3a33d8","type":"api-call-service","z":"11cc2180.fd8b8e","name":"Mudroom-Light-Off","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.mudroom_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1150,"y":720,"wires":[[]]},{"id":"6a2e1ea3.bd021","type":"debug","z":"11cc2180.fd8b8e","name":"mudroom motion","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":700,"wires":[]},{"id":"2be9a21a.6d492e","type":"debug","z":"11cc2180.fd8b8e","name":"light on path","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":860,"y":460,"wires":[]},{"id":"808bfd83.1837a","type":"change","z":"11cc2180.fd8b8e","name":"Stop Timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":620,"wires":[["76b6ad2d.48e734"]]},{"id":"8252fd18.2733b","type":"ha-wait-until","z":"11cc2180.fd8b8e","name":"Wait for Garage-Kitchen Door to open","server":"c61a9ebd.f52d8","version":0,"outputs":2,"entityId":"binary_sensor.garage_kitchen_door","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":"120","timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":650,"y":60,"wires":[["33a1c29f.94fb0e","a828aa61.9491d8","b01e6f9.224c89"],[]]},{"id":"12cdb5f2.3461ca","type":"api-call-service","z":"11cc2180.fd8b8e","name":"Garage-Light-On","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.garage_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1310,"y":20,"wires":[[]]},{"id":"33a1c29f.94fb0e","type":"ha-wait-until","z":"11cc2180.fd8b8e","name":"Wait for Garage-Kitchen Door to close","server":"c61a9ebd.f52d8","version":0,"outputs":2,"entityId":"binary_sensor.garage_kitchen_door","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":"120","timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":710,"y":140,"wires":[["9676f520.b42638"],[]]},{"id":"9676f520.b42638","type":"stoptimer","z":"11cc2180.fd8b8e","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"Garage Light On Timer","x":880,"y":320,"wires":[["3a19f8b2.840298"],[]]},{"id":"3a19f8b2.840298","type":"api-call-service","z":"11cc2180.fd8b8e","name":"Garage-Light-Off","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.garage_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1210,"y":300,"wires":[[]]},{"id":"a828aa61.9491d8","type":"change","z":"11cc2180.fd8b8e","name":"Stop Timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":100,"wires":[["9676f520.b42638"]]},{"id":"b01e6f9.224c89","type":"api-current-state","z":"11cc2180.fd8b8e","name":"Stop if light is already on","server":"c61a9ebd.f52d8","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.garage_light","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":1050,"y":20,"wires":[["12cdb5f2.3461ca"],[]]},{"id":"539fd57e72c29aa1","type":"server-state-changed","z":"11cc2180.fd8b8e","name":"Motion detected in garage","server":"c61a9ebd.f52d8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.third_reality_inc_3rms16bz_a756e7ff_ias_zone","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":270,"y":40,"wires":[["9aebb366151419ec"]]},{"id":"9aebb366151419ec","type":"switch","z":"11cc2180.fd8b8e","name":"Test motion detected vs cleared","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":280,"wires":[["b01e6f9.224c89","a828aa61.9491d8"],["9676f520.b42638"]]},{"id":"8737bf88.bbbd1","type":"server-state-changed","z":"476add23.05e764","name":"Motion detected in Attic","server":"c61a9ebd.f52d8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.attic_motion","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":180,"wires":[["65444f4a.cd578"]]},{"id":"65444f4a.cd578","type":"switch","z":"476add23.05e764","name":"Test motion detected vs cleared","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":280,"wires":[["7a260731.30e798","f5dfdd0c.c94bf"],["c2e9ff10.0a173"]]},{"id":"7a260731.30e798","type":"api-current-state","z":"476add23.05e764","name":"Stop if light is already on","server":"c61a9ebd.f52d8","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.attic_light","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":950,"y":200,"wires":[["b0d08026.2643f"],[]]},{"id":"b0d08026.2643f","type":"api-call-service","z":"476add23.05e764","name":"Attic-Light-On","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.attic_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1200,"y":200,"wires":[[]]},{"id":"f5dfdd0c.c94bf","type":"change","z":"476add23.05e764","name":"Stop Timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":300,"wires":[["c2e9ff10.0a173"]]},{"id":"c2e9ff10.0a173","type":"stoptimer","z":"476add23.05e764","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"No Motion Timer","x":980,"y":380,"wires":[["b0b7390f.514a08"],[]]},{"id":"b0b7390f.514a08","type":"api-call-service","z":"476add23.05e764","name":"Attic-Light-Off","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.attic_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1200,"y":380,"wires":[[]]},{"id":"d1458ff.883b97","type":"server-state-changed","z":"476add23.05e764","name":"Attic door opened","server":"c61a9ebd.f52d8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.attic_monitor_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":500,"wires":[["7a260731.30e798","c2e9ff10.0a173"],[]]},{"id":"6757eb59.67a4a4","type":"server-state-changed","z":"cf463dc0.0b4a9","name":"weatherstation offline","server":"c61a9ebd.f52d8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.weatherstation","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"away","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":100,"wires":[[],[]]},{"id":"c6b3152.c733ce8","type":"api-call-service","z":"cf463dc0.0b4a9","name":"Text Dennis ws is offline","server":"7a36d543.01caac","version":3,"debugenabled":true,"service_domain":"notify","service":"dennis_hangout","entityId":"","data":"{\"message\":\"weather station has gone offline\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":540,"y":60,"wires":[[]]},{"id":"dc209d6e.5cc55","type":"trigger-state","z":"cf463dc0.0b4a9","name":"weather station signal","server":"c61a9ebd.f52d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.ws_wifi_signal","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"lt9cfrmioie","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"unavailable"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":210,"y":200,"wires":[[],["74c9dae.e5c6a24"]]},{"id":"d9ae1bc.94b03e8","type":"api-call-service","z":"cf463dc0.0b4a9","name":"Text Dennis ws is back online","server":"7a36d543.01caac","version":3,"debugenabled":true,"service_domain":"notify","service":"dennis_hangout","entityId":"","data":"{\"message\":\"weather station is back online\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":180,"wires":[[]]},{"id":"74c9dae.e5c6a24","type":"trigger-state","z":"cf463dc0.0b4a9","name":"weather station transitions from offline to online","server":"c61a9ebd.f52d8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.ws_wifi_signal","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"n9tru4sdobg","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"unavailable"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":270,"y":340,"wires":[[],[]]},{"id":"58a58ef8.b1a4a","type":"amazon-echo-hub","z":"abdffb17.995698","port":"90","processinput":0,"discovery":true,"x":180,"y":280,"wires":[["b9c914d3.3bb878"]]},{"id":"b9c914d3.3bb878","type":"link out","z":"abdffb17.995698","name":"alexa out","links":["ee1bb3be.601b3","c88602e6efb61346","85ca21f582022862","4083bca98636786d","328940b4329de3e3","8e4e3a33377cbee4","a2ae21210d66f220","415867f9dd88f9e2","6016c18aa839bd54","dee16149b3e310e8","0c2e6babf258935a","e3c4ee4ce58062ed","3ca3b48db42404f5","8544623f9af962ba","dbb37ba1f64137e3","4ab8c41538205fd3","94cd712644fe7d53","72f2291e9d1043c2","8b5abc852371bc46","b63639973654acac","0f78920c4aa68a6e","8b100a938d88f48a","aefd8d4950b60365","f96ac04a6ab27698","e26273c9debfc719","bdf50d584dd9865d","d1e761c6a0ae76a0","99afb935563efe37","defc6de93fcde934","10c63b761933e379","2c554f81e22719f8"],"x":420,"y":280,"wires":[],"l":true},{"id":"67185101.46126","type":"ui_text_input","z":"1197efc9.f8204","name":"","label":"","group":"221e3221.46076e","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"1","topic":"","x":120,"y":180,"wires":[["9eef46.ac3630b8"]]},{"id":"9eef46.ac3630b8","type":"change","z":"1197efc9.f8204","name":"","rules":[{"t":"set","p":"textToSpeak","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":180,"wires":[[]]},{"id":"7bc7ce39.06bfa","type":"ui_button","z":"1197efc9.f8204","name":"","group":"221e3221.46076e","order":4,"width":0,"height":0,"passthru":false,"label":"Speak","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":220,"wires":[["97ed41af.bdb54"]]},{"id":"80abfff8.651a7","type":"change","z":"1197efc9.f8204","name":"","rules":[{"t":"set","p":"device","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":120,"wires":[[]]},{"id":"46fe857b.de93bc","type":"change","z":"1197efc9.f8204","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload.accountName[]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":120,"wires":[["b9060efe.ed288"]]},{"id":"b9060efe.ed288","type":"ui_dropdown","z":"1197efc9.f8204","name":"","label":"Device","tooltip":"","place":"","group":"221e3221.46076e","order":1,"width":"5","height":"1","passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":290,"y":120,"wires":[["80abfff8.651a7"]]},{"id":"f941be0d.7952f","type":"ui_button","z":"1197efc9.f8204","name":"","group":"221e3221.46076e","order":2,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"","x":110,"y":60,"wires":[["a66d8f91.dc20f"]]},{"id":"97ed41af.bdb54","type":"alexa-remote-routine","z":"1197efc9.f8204","name":"","account":"ff96d826.308c98","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"flow","value":"textToSpeak"},"devices":{"type":"flow","value":"device"}}},"x":320,"y":220,"wires":[[]]},{"id":"a66d8f91.dc20f","type":"alexa-remote-echo","z":"1197efc9.f8204","name":"","account":"ff96d826.308c98","config":{"option":"get","value":{"what":"device","device":{"type":"str","value":"ALEXA_ALL_DSN"}}},"x":270,"y":60,"wires":[["46fe857b.de93bc"]]},{"id":"aac930308bde07c4","type":"amazon-echo-device","z":"93758d1b21ae2148","name":"Pavilion Fans","topic":"","x":300,"y":320,"wires":[["1c2b0720b2cf7399"]]},{"id":"4083bca98636786d","type":"link in","z":"93758d1b21ae2148","name":"alexa in","links":["b9c914d3.3bb878"],"x":120,"y":320,"wires":[["aac930308bde07c4"]],"l":true},{"id":"1c2b0720b2cf7399","type":"function","z":"93758d1b21ae2148","name":"","func":"if (msg.payload === \"on\") msg.payload = {\"service\":\"turn_on\"}\nif (msg.payload === \"off\") msg.payload = {\"service\":\"turn_off\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":320,"wires":[["73d2f9bf9d30f57a"]]},{"id":"73d2f9bf9d30f57a","type":"api-call-service","z":"93758d1b21ae2148","name":"Pavilion Fans","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"homeassistant","service":"","entityId":"switch.pavilion_fan_1, switch.pavilion_fan_2","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":730,"y":340,"wires":[[]]},{"id":"e4cbcb16a4eaf3cb","type":"amazon-echo-device","z":"93758d1b21ae2148","name":"Pavilion Flood Lights","topic":"","x":340,"y":680,"wires":[["4a9a9ed79c140443"]]},{"id":"a2ae21210d66f220","type":"link in","z":"93758d1b21ae2148","name":"alexa in","links":["b9c914d3.3bb878"],"x":140,"y":680,"wires":[["e4cbcb16a4eaf3cb"]],"l":true},{"id":"4a9a9ed79c140443","type":"function","z":"93758d1b21ae2148","name":"","func":"if (msg.payload === \"on\") msg.payload = {\"service\":\"turn_on\"}\nif (msg.payload === \"off\") msg.payload = {\"service\":\"turn_off\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":700,"wires":[["1537364a552ca85e"]]},{"id":"1537364a552ca85e","type":"api-call-service","z":"93758d1b21ae2148","name":"Pavilion Flood Lights","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"homeassistant","service":"","entityId":"switch.pavilion_floodlight","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":770,"y":700,"wires":[[]]},{"id":"24353d23ee4d4d94","type":"amazon-echo-device","z":"93758d1b21ae2148","name":"Shop Flood Lights","topic":"","x":390,"y":840,"wires":[["fb72a4283f0f2d4f"]]},{"id":"415867f9dd88f9e2","type":"link in","z":"93758d1b21ae2148","name":"alexa in","links":["b9c914d3.3bb878"],"x":176,"y":831,"wires":[["24353d23ee4d4d94"]],"l":true},{"id":"fb72a4283f0f2d4f","type":"function","z":"93758d1b21ae2148","name":"","func":"if (msg.payload === \"on\") msg.payload = {\"service\":\"turn_on\"}\nif (msg.payload === \"off\") msg.payload = {\"service\":\"turn_off\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":606,"y":851,"wires":[["4ef5c841f9888aee"]]},{"id":"4ef5c841f9888aee","type":"api-call-service","z":"93758d1b21ae2148","name":"Shop Flood Lights","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"homeassistant","service":"","entityId":"switch.shop_flood_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":846,"y":851,"wires":[[]]},{"id":"95a6ee45557058f8","type":"amazon-echo-device","z":"93758d1b21ae2148","name":"Office Light","topic":"","x":290,"y":120,"wires":[["6525a987c5e251b4"]]},{"id":"6016c18aa839bd54","type":"link in","z":"93758d1b21ae2148","name":"alexa in","links":["b9c914d3.3bb878"],"x":120,"y":120,"wires":[["95a6ee45557058f8"]],"l":true},{"id":"6525a987c5e251b4","type":"function","z":"93758d1b21ae2148","name":"","func":"if (msg.payload === \"on\") msg.payload = {\"service\":\"turn_on\"}\nif (msg.payload === \"off\") msg.payload = {\"service\":\"turn_off\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":120,"wires":[["ec50b6163502525c"]]},{"id":"ec50b6163502525c","type":"api-call-service","z":"93758d1b21ae2148","name":"Alexa Office Light","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"homeassistant","service":"","entityId":"switch.office_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":740,"y":140,"wires":[[]]},{"id":"b1d3c84a1b4f0cb2","type":"amazon-echo-device","z":"93758d1b21ae2148","name":"Living Room Lamps","topic":"","x":400,"y":940,"wires":[["a007e8fc621df9d0"]]},{"id":"0c2e6babf258935a","type":"link in","z":"93758d1b21ae2148","name":"alexa in","links":["b9c914d3.3bb878"],"x":230,"y":940,"wires":[["b1d3c84a1b4f0cb2"]],"l":true},{"id":"a007e8fc621df9d0","type":"function","z":"93758d1b21ae2148","name":"","func":"if (msg.payload === \"on\") msg.payload = {\"service\":\"turn_on\"}\nif (msg.payload === \"off\") msg.payload = {\"service\":\"turn_off\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":606,"y":951,"wires":[["49cd658eb563d3ea"]]},{"id":"49cd658eb563d3ea","type":"api-call-service","z":"93758d1b21ae2148","name":"Living Room Lamps","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"homeassistant","service":"","entityId":"switch.living_room_lamps","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":856,"y":951,"wires":[[]]},{"id":"bee0d5672bc3551b","type":"amazon-echo-device","z":"93758d1b21ae2148","name":"Master Bedroom Lamps","topic":"","x":370,"y":1060,"wires":[["b4891974c641af7d"]]},{"id":"e3c4ee4ce58062ed","type":"link in","z":"93758d1b21ae2148","name":"alexa in","links":["b9c914d3.3bb878"],"x":190,"y":1060,"wires":[["bee0d5672bc3551b"]],"l":true},{"id":"b4891974c641af7d","type":"function","z":"93758d1b21ae2148","name":"","func":"if (msg.payload === \"on\") msg.payload = {\"service\":\"turn_on\"}\nif (msg.payload === \"off\") msg.payload = {\"service\":\"turn_off\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":566,"y":1071,"wires":[["2b80c31aabf0fcc5"]]},{"id":"2b80c31aabf0fcc5","type":"api-call-service","z":"93758d1b21ae2148","name":"Master Bedroom Lamps","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"homeassistant","service":"","entityId":"switch.lk_zbt_onoffplug_d0001_e6bbd3fe_on_off,switch.sonoff_1000a39d06  ","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":826,"y":1071,"wires":[[]]},{"id":"9d8f1c6f7061deb4","type":"amazon-echo-device","z":"93758d1b21ae2148","name":"Upstairs Bedroom Lamps","topic":"","x":370,"y":1140,"wires":[["87277ec2e9c0e34e"]]},{"id":"3ca3b48db42404f5","type":"link in","z":"93758d1b21ae2148","name":"alexa in","links":["b9c914d3.3bb878"],"x":190,"y":1140,"wires":[["9d8f1c6f7061deb4"]],"l":true},{"id":"87277ec2e9c0e34e","type":"function","z":"93758d1b21ae2148","name":"","func":"if (msg.payload === \"on\") msg.payload = {\"service\":\"turn_on\"}\nif (msg.payload === \"off\") msg.payload = {\"service\":\"turn_off\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":566,"y":1151,"wires":[["0497fc54f5331862"]]},{"id":"0497fc54f5331862","type":"api-call-service","z":"93758d1b21ae2148","name":"Upstairs Bedroom Lamp","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"homeassistant","service":"","entityId":"switch.sonoff_1000a3970d","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":826,"y":1151,"wires":[[]]},{"id":"903224344bfe5d7c","type":"amazon-echo-device","z":"93758d1b21ae2148","name":"Bonus Room Lamp","topic":"","x":330,"y":1460,"wires":[["eb3c2677852d7385"]]},{"id":"8544623f9af962ba","type":"link in","z":"93758d1b21ae2148","name":"alexa in","links":["b9c914d3.3bb878"],"x":170,"y":1460,"wires":[["903224344bfe5d7c"]],"l":true},{"id":"eb3c2677852d7385","type":"function","z":"93758d1b21ae2148","name":"","func":"if (msg.payload === \"on\") msg.payload = {\"service\":\"turn_on\"}\nif (msg.payload === \"off\") msg.payload = {\"service\":\"turn_off\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":546,"y":1471,"wires":[["81d2dfd9c6c2d7de"]]},{"id":"81d2dfd9c6c2d7de","type":"api-call-service","z":"93758d1b21ae2148","name":"Bonus Room Lamp","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"homeassistant","service":"","entityId":"switch.lk_zbt_onoffplug_d0001_28bbd3fe_on_off","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":786,"y":1471,"wires":[[]]},{"id":"e621e86ff4b88222","type":"amazon-echo-device","z":"93758d1b21ae2148","name":"Kitchen Ceiling Lights","topic":"","x":340,"y":1640,"wires":[["091dacb67ab4354b"]]},{"id":"dbb37ba1f64137e3","type":"link in","z":"93758d1b21ae2148","name":"alexa in","links":["b9c914d3.3bb878"],"x":170,"y":1640,"wires":[["e621e86ff4b88222"]],"l":true},{"id":"091dacb67ab4354b","type":"function","z":"93758d1b21ae2148","name":"","func":"if (msg.payload === \"on\") msg.payload = {\"service\":\"turn_on\"}\nif (msg.payload === \"off\") msg.payload = {\"service\":\"turn_off\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":546,"y":1651,"wires":[["d6581b910437c009"]]},{"id":"d6581b910437c009","type":"api-call-service","z":"93758d1b21ae2148","name":"Kitchen Ceiling Lights","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"homeassistant","service":"","entityId":"switch.kitchen_ceiling_lights","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":796,"y":1651,"wires":[[]]},{"id":"7be3139779ccb31e","type":"amazon-echo-device","z":"93758d1b21ae2148","name":"Front Sidewalk Floodlight","topic":"","x":350,"y":1540,"wires":[["a4856ac3dfb57048"]]},{"id":"94cd712644fe7d53","type":"link in","z":"93758d1b21ae2148","name":"alexa in","links":["b9c914d3.3bb878"],"x":170,"y":1540,"wires":[["7be3139779ccb31e"]],"l":true},{"id":"a4856ac3dfb57048","type":"function","z":"93758d1b21ae2148","name":"","func":"if (msg.payload === \"on\") msg.payload = {\"service\":\"turn_on\"}\nif (msg.payload === \"off\") msg.payload = {\"service\":\"turn_off\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1540,"wires":[["5eb31a8dd45b347d"]]},{"id":"5eb31a8dd45b347d","type":"api-call-service","z":"93758d1b21ae2148","name":"Front Sidewalk Floodlight","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"homeassistant","service":"","entityId":"switch.sidewalk_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":810,"y":1540,"wires":[[]]},{"id":"233818e238966df5","type":"amazon-echo-device","z":"93758d1b21ae2148","name":"security alerts","topic":"","x":300,"y":760,"wires":[["f0e9fe6697b14b21"]]},{"id":"72f2291e9d1043c2","type":"link in","z":"93758d1b21ae2148","name":"alexa in","links":["b9c914d3.3bb878"],"x":120,"y":760,"wires":[["233818e238966df5"]],"l":true},{"id":"f0e9fe6697b14b21","type":"function","z":"93758d1b21ae2148","name":"","func":"if (msg.payload === \"on\") msg.payload = {\"service\":\"turn_on\"}\nif (msg.payload === \"off\") msg.payload = {\"service\":\"turn_off\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":780,"wires":[["3824aa6cb3be1223"]]},{"id":"3824aa6cb3be1223","type":"api-call-service","z":"93758d1b21ae2148","name":"Security Camera Announcements","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"homeassistant","service":"","entityId":"input_boolean.security_camera_voice_alert","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":790,"y":780,"wires":[[]]},{"id":"311d37beaa6e3e1c","type":"amazon-echo-device","z":"93758d1b21ae2148","name":"Master Bedroom Ceiling Lights","topic":"","x":370,"y":2020,"wires":[["6ba0fa81663b2d03"]]},{"id":"aefd8d4950b60365","type":"link in","z":"93758d1b21ae2148","name":"alexa in","links":["b9c914d3.3bb878"],"x":150,"y":2020,"wires":[["311d37beaa6e3e1c"]],"l":true},{"id":"6ba0fa81663b2d03","type":"function","z":"93758d1b21ae2148","name":"","func":"if (msg.payload === \"on\") msg.payload = {\"service\":\"turn_on\"}\nif (msg.payload === \"off\") msg.payload = {\"service\":\"turn_off\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":2020,"wires":[["b3bacfef8edf5772"]]},{"id":"b3bacfef8edf5772","type":"api-call-service","z":"93758d1b21ae2148","name":"Master Bedroom Ceiling Lights","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"homeassistant","service":"","entityId":"switch.master_bedroom_ceiling_lights","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":870,"y":2020,"wires":[[]]},{"id":"a4f165b483c5e88b","type":"amazon-echo-device","z":"66f5d91adfcf8c9e","name":"Pavilion Ceiling Lights","topic":"","x":320,"y":100,"wires":[["f270c0ed7925a41e"]]},{"id":"e26273c9debfc719","type":"link in","z":"66f5d91adfcf8c9e","name":"alexa in","links":["b9c914d3.3bb878"],"x":120,"y":100,"wires":[["a4f165b483c5e88b"]],"l":true},{"id":"f270c0ed7925a41e","type":"function","z":"66f5d91adfcf8c9e","name":"","func":"if (msg.payload === \"on\") msg.payload = {\"service\":\"turn_on\"}\nif (msg.payload === \"off\") msg.payload = {\"service\":\"turn_off\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":100,"wires":[["a8f205a6ed0ece93"]]},{"id":"a8f205a6ed0ece93","type":"api-call-service","z":"66f5d91adfcf8c9e","name":"Pavilion Ceiling Lights","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"homeassistant","service":"","entityId":"light.pavilion_ceiling_lights","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":750,"y":120,"wires":[[]]},{"id":"0ddba555a0c29d51","type":"amazon-echo-device","z":"66f5d91adfcf8c9e","name":"Pavilion Soffit Lights","topic":"","x":320,"y":220,"wires":[["62c658cba281d43d"]]},{"id":"bdf50d584dd9865d","type":"link in","z":"66f5d91adfcf8c9e","name":"alexa in","links":["b9c914d3.3bb878"],"x":120,"y":220,"wires":[["0ddba555a0c29d51"]],"l":true},{"id":"62c658cba281d43d","type":"function","z":"66f5d91adfcf8c9e","name":"","func":"if (msg.payload === \"on\") msg.payload = {\"service\":\"turn_on\"}\nif (msg.payload === \"off\") msg.payload = {\"service\":\"turn_off\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":240,"wires":[["7d96b7315cad72ca"]]},{"id":"7d96b7315cad72ca","type":"api-call-service","z":"66f5d91adfcf8c9e","name":"Pavilion Soffit Lights","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"homeassistant","service":"","entityId":"light.pavilion_soffit_lights","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":750,"y":240,"wires":[[]]},{"id":"50392cd47f885d66","type":"amazon-echo-device","z":"66f5d91adfcf8c9e","name":"Garage Lights","topic":"","x":280,"y":340,"wires":[["0c4eaf0589233ab4"]]},{"id":"d1e761c6a0ae76a0","type":"link in","z":"66f5d91adfcf8c9e","name":"alexa in","links":["b9c914d3.3bb878"],"x":110,"y":340,"wires":[["50392cd47f885d66"]],"l":true},{"id":"0c4eaf0589233ab4","type":"function","z":"66f5d91adfcf8c9e","name":"","func":"if (msg.payload === \"on\") msg.payload = {\"service\":\"turn_on\"}\nif (msg.payload === \"off\") msg.payload = {\"service\":\"turn_off\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":340,"wires":[["ae7f251a0f9c7d5f"]]},{"id":"ae7f251a0f9c7d5f","type":"api-call-service","z":"66f5d91adfcf8c9e","name":"Alexa Garage Lights","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"homeassistant","service":"","entityId":"group.garage_lights","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":720,"y":340,"wires":[[]]},{"id":"096210a75398b792","type":"amazon-echo-device","z":"66f5d91adfcf8c9e","name":"Upstairs Bedroom Fan Light","topic":"","x":300,"y":440,"wires":[["3beaf3bea9b4c572"]]},{"id":"99afb935563efe37","type":"link in","z":"66f5d91adfcf8c9e","name":"alexa in","links":["b9c914d3.3bb878"],"x":110,"y":440,"wires":[["096210a75398b792"]],"l":true},{"id":"3beaf3bea9b4c572","type":"function","z":"66f5d91adfcf8c9e","name":"","func":"if (msg.payload === \"on\") msg.payload = {\"service\":\"turn_on\"}\nif (msg.payload === \"off\") msg.payload = {\"service\":\"turn_off\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":440,"wires":[["c0e54ed39fbf1f97"]]},{"id":"c0e54ed39fbf1f97","type":"api-call-service","z":"66f5d91adfcf8c9e","name":"Upstairs Bedroom Fan Light Switch","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"homeassistant","service":"","entityId":"switch.sonoff_1000a3970d","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":776,"y":451,"wires":[[]]},{"id":"b1d2fbe2423e8cf7","type":"amazon-echo-device","z":"66f5d91adfcf8c9e","name":"Kitchen Counter Lights","topic":"","x":320,"y":540,"wires":[["92cb82dfa810541c"]]},{"id":"defc6de93fcde934","type":"link in","z":"66f5d91adfcf8c9e","name":"alexa in","links":["b9c914d3.3bb878"],"x":150,"y":540,"wires":[["b1d2fbe2423e8cf7"]],"l":true},{"id":"92cb82dfa810541c","type":"function","z":"66f5d91adfcf8c9e","name":"","func":"if (msg.payload === \"on\") msg.payload = {\"service\":\"turn_on\"}\nif (msg.payload === \"off\") msg.payload = {\"service\":\"turn_off\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":526,"y":551,"wires":[["f202d7df90f2a809"]]},{"id":"f202d7df90f2a809","type":"api-call-service","z":"66f5d91adfcf8c9e","name":"Kitchen Counter Lights","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"homeassistant","service":"","entityId":"light.kitchen_counter_lights","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":776,"y":551,"wires":[[]]},{"id":"92309d9961db96a5","type":"amazon-echo-device","z":"66f5d91adfcf8c9e","name":"Master Bedroom Fan","topic":"","x":300,"y":620,"wires":[["5549b0988696f43f"]]},{"id":"10c63b761933e379","type":"link in","z":"66f5d91adfcf8c9e","name":"alexa in","links":["b9c914d3.3bb878"],"x":130,"y":620,"wires":[["92309d9961db96a5"]],"l":true},{"id":"5549b0988696f43f","type":"function","z":"66f5d91adfcf8c9e","name":"","func":"if (msg.payload === \"on\") msg.payload = {\"service\":\"turn_on\"}\nif (msg.payload === \"off\") msg.payload = {\"service\":\"turn_off\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":506,"y":631,"wires":[["5bdbda95ef9aa38c"]]},{"id":"5bdbda95ef9aa38c","type":"api-call-service","z":"66f5d91adfcf8c9e","name":"Master Bedroom Fan","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"homeassistant","service":"","entityId":"fan.master_bedroom_fan","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":756,"y":631,"wires":[[]]},{"id":"8eda9a5513e9d07f","type":"amazon-echo-device","z":"66f5d91adfcf8c9e","name":"Master Bedroom Fan Light","topic":"","x":320,"y":720,"wires":[["247338f3dcfa6a9f"]]},{"id":"2c554f81e22719f8","type":"link in","z":"66f5d91adfcf8c9e","name":"alexa in","links":["b9c914d3.3bb878"],"x":130,"y":720,"wires":[["8eda9a5513e9d07f"]],"l":true},{"id":"247338f3dcfa6a9f","type":"function","z":"66f5d91adfcf8c9e","name":"","func":"if (msg.payload === \"on\") msg.payload = {\"service\":\"turn_on\"}\nif (msg.payload === \"off\") msg.payload = {\"service\":\"turn_off\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":720,"wires":[["fcb9b58f540d3117"]]},{"id":"fcb9b58f540d3117","type":"api-call-service","z":"66f5d91adfcf8c9e","name":"Master Bedroom Fan Light","server":"c61a9ebd.f52d8","version":3,"debugenabled":false,"service_domain":"homeassistant","service":"","entityId":"light.master_bedroom_fan_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":776,"y":731,"wires":[[]]}]